html {
  box-sizing: border-box;
}

* , *::before , *::after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #4A4C4E;
}

.container , header , footer {
  background-color: #FA9C1D;
  max-width: 100%;
}

h1 , .nav-link , footer div a {
  color: black;
  font-weight: bold;
}

h1, footer div {
  margin-left: 20px;
}

h1 {
  text-transform: uppercase;
}

header ul , footer ul {
  margin-right: 20px;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  background-color: black;
  color: #FA9C1D;
}

.about-me {
  background-color: black;
}

.about-me , .about-me .section-title {
  color: white;
}

.personal-picture {
  border-radius: 50%;
}

.trybe {
  text-decoration: none;
  color: #00bfa5;
  font-weight: bold;
}

.skills {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.section-title {
  text-align: center;
  color: #FA9C1D;
}

.skills-lists {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: space-around;
  height: 350px;
}

.card {
  border-color: #FA9C1D;
  background-color: black;
  color: white;
}

.card-title {
  color: #96CA4E;
}

.card-text li:nth-child(even) {
  color: #96CA4E;
}

.card-link {
  text-decoration: none;
  font-weight: bold;
}

.overwatch {
  color: #FA9C1D;
}

.boardgames {
  color: rgb(213, 155, 22);
}

.football {
  color: #25a519;
}
