body {
    background-color: #4A4C4E;
    color: white
}

.title {
    font-size: 26px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.about-me {
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    height: 287px;
    background-color: #000000;
}

.picture {
    float: left;
    padding: 5px;
}

.picture img {
    border-radius: 50%;
}

.body-text{
    padding-top: 30px;
    padding-left: 300px;
    font-family: 'Open Sans', sans-serif;
    color: #FA9C1D;
}

.origin-color {
    background-image: radial-gradient(#fedf00,#009b3a);
    color: #002776;
}

.trybe {
    color: #00bfa5;
}

.indice {
    display: table;
    margin-top: 25px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 7px;
}

.indice h2 {
    margin-top: 0.1em;
    text-align: center;
}

.indice > ol {
    padding-left: 0;
}

.indice ol {
    margin: 0.3em 0;
    list-style-type: none;
    counter-reset: item;
}

.indice ol li {
    margin-bottom: 0.1em;
    line-height: 1.6;
    counter-increment: item;
}

.indice ol li:before {
    padding-left: 0;
    padding-right: 0.5em;
    content: counters(item, ".")
}

.indice ol ol {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: #74b3ce;
}

.skills div {
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5%;
    border: 2px solid #FA9C1D;
    border-radius: 10px;
    width: 28.5%;
    height: 160px;
    padding: 0px 20px;
    background-color: #000000;
    text-align: justify;
}

.skills li:nth-child(odd) {
    color: #96ca4e;
}

.fast-learner {
    font-size: 20px;
}

.critical-thinking {
    font-size: 18px;
}

.basic-languages {
    font-family: 'Ubuntu Mono', monospace;
}

.english {
    background-image: radial-gradient(#ff0000,#012169);
    font-weight: normal;
    color: #ffffff;
}

.overwatch {
    color: #FA9C1D;
}

.boardgames {
    color: #e18800;
}

.football {
    color: #567d46;
}